.c-box {
  width: 35px;
  height: 32px;
  padding: 0;
  border: 0;
  background: url(./img/mine.png) no-repeat;
}

.c-box:hover {
  cursor: pointer;
}

.c-unexplored {
  background-position: 0 0;
}

.c-block {
  background-position: -35px 0px;
}

.c-flag {
  background-position: -70px 0px;
}

.c-mine {
  background-position: -105px 0px;
}

.c-number-1 {
  background-position: -140px 0px;
}
.c-number-2 {
  background-position: -175px 0px;
}
.c-number-3 {
  background-position: -210px 0px;
}
.c-number-4 {
  background-position: -245px 0px;
}
.c-number-5 {
  background-position: -280px 0px;
}
.c-number-6 {
  background-position: -315px 0px;
}
.c-number-7 {
  background-position: -350px 0px;
}
.c-number-8 {
  background-position: -385px 0px;
}

.c-bloomed {
  background-position: -420px 0px;
}

.pannel {
  margin: 20px auto;
}

.pannel div {
  display: inline-block;
}

.c-board {
  background: black;
  color: red;
  width: 30px;
  padding: 6px;
  font-family: menlo;
}

.c-btn-reset {
  cursor: pointer;
  margin: 0 23px;
  border: 0;
}